.options{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top: 2rem;
}

.info-btn{
    padding: 10px;
    color: black;
}

.new_heading{
    color:red;
    font-size: 5em;
}