.footer .container {
    max-width: 100%;
    padding-top: 2.5em;
}

.footer{
    width:'100%';
    position:'fixed';
    bottom: '0';
    display:'flex';
    height:'100px';
    flex-direction:'column';
    justify-content:'center';
    align-items:'center';
    overflow:'auto';
}