.heading {
    font-family: var(--font-family-heading);
    font-weight: 100;
    color: var(--color-bg);
    /* padding: 0 2em; */
    text-align: center;
    font-size: 2em;
    /* margin: 0 4em; */
    /* border: red solid 1px; */
}

.navv {
    background-color: var(--color-footer);
    margin: 0;   
    /* padding: 1em; */
    /* border: red 1px solid; */
}

.hidden_div{
    margin-right: 1.5em;
}

.main_heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 /*border: red solid 1px;*/
}

.main_heading .heading_img{
    justify-self: end;
    padding-right: 0;
    margin-right: 0;
    /*border: 1px solid white;*/
}

.navv a:hover{
    text-decoration: none;
}

.navv2 {
    color: white;
    background-color: var(--color-navbar);
    margin: 0;
    padding: 1em;
    
}

.nvlink {
    color: var(--color-bg);
    padding-bottom: 10px;
    align-items: center;
}

.nvlink:hover {
    border-bottom: 1.5px solid var(--light-blue);
}

.navbar-style {
    margin-top: 10rem;
}

.flexcont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
   
}

.vjti_img{
    padding: 0;
    margin:0;
}