.heading {
    font-family: var(--font-family-heading);
    font-weight: 100;
    color: var(--color-bg);
    /* padding: 0 2em; */
    text-align: center;
    font-size: 2em;
    /* margin: 0 4em; */
    /* border: red solid 1px; */
}

.navv {
    background-color: var(--color-footer);
    margin: 0;
    /* padding: 1em; */
    /* border: red 1px solid; */
}

.navv2 {
    color: white;
    background-color: var(--color-navbar);
    margin: 0;
    padding: 1em;
    
}

.nvlink {
    color: var(--color-bg);
    padding-bottom: 10px;
    align-items: center;
}

.nvlink:hover {
    border-bottom: 1.5px solid var(--light-blue);
}

.navbar-style {
    margin-top: 10rem;
}

.flexcont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
   
}